<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="true" default-autowire="byName">
  <!-- 拨打同行电话管理 -->
  <bean id="tradeTelManager" class="com.alphasta.cms.tradetel.service.TradeTelManager">
    <property name="dao" ref="dao" />
  </bean>
  <bean scope="prototype" id="tradeTelAction" class="com.alphasta.cms.tradetel.webapp.TradeTelAction">
    <property name="manager" ref="tradeTelManager" />
  </bean>
</beans>

