<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="true" default-autowire="byName">
  <!-- 学员信息管理 -->
  <bean id="stuInfoManager" class="com.alphasta.cms.stuinfo.service.StuInfoManager">
    <property name="dao" ref="dao" />
  </bean>
  <bean scope="prototype" id="stuInfoAction" class="com.alphasta.cms.stuinfo.webapp.StuInfoAction">
    <property name="manager" ref="stuInfoManager" />
  </bean>
</beans>

