<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="true" default-autowire="byName">
  <!-- 现操作客户管理 -->
  <bean id="dealingInfoManager" class="com.alphasta.cms.dealing.service.DealingInfoManager">
    <property name="dao" ref="dao" />
  </bean>
  <bean scope="prototype" id="dealingInfoAction" class="com.alphasta.cms.dealing.webapp.DealingInfoAction">
    <property name="manager" ref="dealingInfoManager" />
  </bean>
</beans>

