<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="true" default-autowire="byName">
  <!-- 佣金管理 -->
  <bean id="successfulCaseManager" class="com.alphasta.cms.successfulCase.service.SuccessfulCaseManager">
    <property name="dao" ref="dao" />
  </bean>
  <bean scope="prototype" id="successfulCaseAction" class="com.alphasta.cms.successfulCase.webapp.SuccessfulCaseAction">
    <property name="manager" ref="successfulCaseManager" />
  </bean>
</beans>

